.blog-listing {
	padding-top: 30px;
	padding-bottom: 30px;
	.pagination {
		margin-top: 30px;
	}
	.blog-grid {
		box-shadow: none;
		border: 1px solid $px-gray;
	}
}

.pagination {
	.page-item {
		.page-link {
			border: none;
			box-shadow: none;
			color: $px-dark;
			margin: 0 5px;
			border-radius: 50px;
			padding: 0;
			width: 35px;
			height: 35px;
			text-align: center;
			line-height: 35px;
			background: #ddd;
			&:hover {
				background:  $px-theme;
				border-color: $px-theme;
				color: $px-white;
			}
		}
		&.disabled {
			.page-link {
				opacity: 0.5;
			}
		}
		&.active {
			.page-link {
				background: $px-theme;
				border-color: $px-theme;
				color: $px-white;
			}
		}
	}
}


/* Blog Sidebar
-------------------*/
.blog-aside {
	@include up-lg {
		padding-left: 50px;
	}
	.widget {
	    margin-top: 15px;
	    margin-bottom: 25px;
	    width: 100%;
	    display: inline-block;
	    vertical-align: top;
	}
	.widget-title {
    	border-bottom: 1px solid #eee;
    	position: relative;
    	padding-bottom: 15px;
    	margin-bottom: 25px;
    	&:after {
    		content:"";
    		position: absolute;
    		bottom: 0;
    		left: 0;
    		width: 50px;
    		height: 2px;
    		background: $px-theme;
    	}
    	h3 {
		    font-size: 20px;
		    font-weight: 700;
		    color: $px-theme;
		    margin: 0;
    	}
	}

	.widget-author {
		.media {
			margin-bottom: 15px;
		}
		p {
			font-size: 16px;
			margin: 0; 
		}
		.avatar {
			width: 70px;
			height: 70px;
			border-radius: 50%;
			overflow: hidden;
		}
		h6 {
			font-weight: 600;
			color: $px-dark;
			font-size: 22px;
			margin: 0;
			padding-left: 20px;
		}
	}

	.post-aside {
		margin-bottom: 15px;
		.post-aside-title {
			h5 {
				margin: 0;
			}
			a {
				font-size: 18px;
				color: $px-dark;
				font-weight: 600;
			}
		}
		.post-aside-meta {
			padding-bottom: 10px;
			a {
				color: $px-body-color;
				font-size: 12px;
				text-transform: uppercase;
				display: inline-block;
				margin-right: 10px;
			}
		}
	}

	.latest-post-aside {
		+ .latest-post-aside {
			border-top: 1px solid #eee;
			padding-top: 15px;
			margin-top: 15px;
		}
		.lpa-right {
			width: 90px;
		}
		.lpa-left {
			padding-right: 15px;
		}
		.lpa-title {
			h5 {
				margin: 0;
				font-size: 15px;
			}
			a {
				color: $px-dark;
				font-weight: 600;
			}
		}
		.lpa-meta {
			a {
				color: $px-body-color;
				font-size: 12px;
				text-transform: uppercase;
				display: inline-block;
				margin-right: 10px;
			}
		}
	}

}

.tag-cloud {
	a {
		padding: 4px 15px;
		font-size: 13px;
		color: $px-dark;
		background: $px-gray;
		border-radius: 3px;
		margin-right: 4px;
		margin-bottom: 4px;
		font-weight: 600;
		&:hover {
			background: $px-theme;
			color: $px-white;
		}
	}
}


.blog-single {
	padding-top: 30px;
	padding-bottom: 30px;
}
.article {
    margin:15px 0 30px; 
    .article-title {
    	padding: 15px 0 20px;
    	h6 {
    		font-size: 14px;
    		font-weight: 700;
    		margin-bottom: 20px;
	    	a {
	    		text-transform: uppercase;
	    		color: $px-theme;
	    		border-bottom: 1px solid $px-theme;
	    	}
    	}
    	h2 {
    		color: $px-dark;
    		font-weight: 600;
    	}
    	.media {
    		padding-top: 15px;
    		border-bottom: 1px dashed #ddd;
    		padding-bottom: 20px;
    		.avatar {
    			width: 45px;
    			height: 45px;
    			border-radius: 50%;
    			overflow: hidden;
    		}
    		.media-body {
    			padding-left: 8px;
    			label {
    				font-weight: 600;
    				color: $px-theme;
    				margin: 0;
    			}
    			span {
    				display: block;
    				font-size: 12px;
    			}
    		}
    	}
    }

    .article-content {
    	h1,
    	h2,
    	h3,
    	h4,
    	h5,
    	h6 {
    		color: $px-dark;
    		font-weight: 600;
    		margin-bottom: 15px;
    	}
    	blockquote {
    		max-width: 600px;
    		padding: 15px 0 30px 0;
    		margin: 0;
    		p {
    			font-size: 20px;
    			font-weight: 500;
    			color: $px-theme;
    			margin: 0;
    		}
    		.blockquote-footer {
    			color: $px-dark;
    			font-size: 16px;
    			cite {
    				font-weight: 600;
    			}
    		}
    	}
    }
    .tag-cloud {
    	padding-top: 10px;
    }
}

.article-comment {
	box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    padding: 20px;
    h4 {
    	color: $px-dark;
    	font-weight: 700;
    	margin-bottom: 25px;
    	font-size: 22px;
    }
}