.skill-lt {
	&:not(:first-child) {
		margin-top: 30px;
	}
	h6 {
	    font-size: 15px;
	    margin: 0;
	    line-height: 28px;
	} 
	.skill-bar {
		position: relative;
		background: #eee;
		.dark-theme & {
			background: $px-dark;
		}
		.skill-bar-in {
			width: 80px;
			position: relative;
			@include transition(ease all 0.55s);
			height: 3px;
			span {
			    position: absolute;
			    right: 0;
			    bottom: 15px;
			    background: $px-dark;
			    padding: 2px 6px;
			    color: $px-white;
			    font-size: 10px;
			    font-weight: 600;
			    .dark-theme & {
			    	color: $px-dark;
			    	background: $px-white;
			    }
			    &:after {
			    	content: "";
				    position: absolute;
				    bottom: -8px;
				    right: 0;
				    border-left: 7px solid transparent;
				    border-top: 8px solid $px-dark;
				    .dark-theme & {
				    	border-top: 8px solid $px-white;
			    	}
			    }
			}
		}
	}
	&.md {
		.skill-bar {
			.skill-bar-in {	
				height: 8px;
			}
		}
	}

	&.lg {
		.skill-bar {
			.skill-bar-in {	
				height: 10px;
			}
		}
	}
	&.light {
		.skill-bar {
			background: rgba($px-black, .5);
		}
	}
}