.section-title {
	padding-bottom: 40px;
	@include down-md {
		padding-bottom: 25px;
	}
	h2 {
	    font-weight: 600;
	    color: $px-dark;
	    font-size: 45px;
	    margin: 0 0 15px;
	    padding: 0 0 15px;
	    position: relative;
	    &:after {
	    	content:"";
	    	position: absolute;
	    	bottom: 0;
	    	left: 0;
	    	width: 50px;
	    	height: 2px;
	    	background: $px-theme;
	    }
	    @include down-sm {
	    	font-size: 35px;
	    }
	}
	p {
		margin: 0;
		font-size: 18px;
		font-weight: 400;
	}
	&.text-center {
		h2 {
			&:after {
				right:0;
				margin: auto;
			}
		}
	}
}

/* Page title
--------------------------------*/
.page-title {
	padding: 160px 0 80px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@include down-lg {
		padding-top: 130px;
	}
	h1 {
		font-weight: 700;
		margin-bottom: 15px;
	}
}


/* Breadcrumbs
--------------------------------*/
.breadcrumb {
	margin: 0;
	padding: 0;
	list-style: none;
	background: none;
	border-radius: 0;
	li {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		font-weight: 400;
		position: relative;
		color: $px-dark;
		+ li {
			padding-left: 17px;
			margin-left: 17px;
			&:after {
				content:"";
				position: absolute;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background: currentColor;
				opacity: 0.5;
				left: -2px;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
		a {
			color: $px-dark;
		}
	}
	&.white {
		li {
			color: $px-white;
			a {
				color: $px-white;
			}
		}	
	}
}


