@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



// Color system
$px-theme:						#fc5356 !default; // Main theme
$px-body-color:					#6c757d !default; // Body text color

$px-black:						#000000 !default; 
$px-white:						#ffffff !default;
$px-dark:						#000 !default;
$px-dark-1:						#07011e !default;
$px-gray:						#f7f7f7 !default;


// Font
$px-base-font:					16px !default;

$px-font-family:				'Jost', sans-serif; // Main Font Family
$px-font-alt:					'Jost', sans-serif; // Main Font Family

// Custom Bg
$px-yellow:						#f5a416 !default;
$px-green:						#11e279 !default;
$px-blue:						#49bedf !default;
$px-pink:						#f12699 !default;

$box-shadow:					0 0 1.25rem rgba(31, 45, 61, 0.08);
$box-shadow-lg:					0 0 30px rgba(31, 45, 61, 0.125);

// Breakpoints
$px-media-xsm:					567px !default;
$px-media-sm:					767px !default;
$px-media-md:					991px !default;
$px-media-lg:					1200px !default;