/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Raquel Personal Portfolio
Version:    1.0
Primary use:    pxdraft
-------------------------------------------------------------------*/
/*
) Typo
) Buttons
) Header
) Footer
) Titles
) Portfolio
) Home Banner
) About Us
) Services
) Resume
) Blog
) Contact
*/
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ------------------------
*	General
------------------------*/
body {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  color: #6c757d;
  font-weight: 400;
  line-height: 1.6;
  font-smoothing: antialiased;
}

.dark-theme {
  color: #888888;
}

html {
  overflow-x: hidden;
}

a {
  color: #fc5356;
}
a:hover {
  color: #fb2b2f;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.fa,
.fab,
.fal,
.far,
.fas {
  line-height: inherit;
}

mark {
  background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-color: transparent;
  padding: 0;
  color: currentColor;
}

/* ----------------------
*	Loading
---------------------------*/
#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fc5356;
  z-index: 99999;
}

.load-circle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
}
.load-circle span {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.load-circle span:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  border-color: #ffffff transparent #ffffff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ----------------------
*	owl 
---------------------------*/
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 1px solid #fc5356;
  -moz-transition: ease all 0.55s;
  -o-transition: ease all 0.55s;
  -webkit-transition: ease all 0.55s;
  transition: ease all 0.55s;
  border-radius: 50%;
  margin: 0 5px;
}
.owl-carousel-white .owl-dots .owl-dot {
  border-color: #ffffff;
  background: none;
}
.owl-dots .owl-dot.active {
  background: #fc5356;
}
.owl-carousel-white .owl-dots .owl-dot.active {
  background: #ffffff;
}

.owl-carousel .owl-item img {
  width: auto;
  max-width: 100%;
}

.px-btn {
  padding: 0 40px 0 18px;
  line-height: 45px;
  position: relative;
  display: inline-block;
  color: #fc5356;
  background: none;
  border: 1px solid #fc5356;
  border-radius: 5px;
}
.px-btn span {
  font-size: 15px;
  font-weight: 500;
  position: relative;
  z-index: 1;
}
.px-btn .arrow {
  width: 13px;
  height: 2px;
  background: currentColor;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 17px;
}
.px-btn .arrow:after {
  width: 8px;
  height: 8px;
  border-right: 2px solid currentColor;
  border-top: 2px solid currentColor;
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  display: inline-block;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.px-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: transparent;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  width: 0;
  height: 100%;
}
.px-btn:hover {
  color: #ffffff;
}
.px-btn:hover:before {
  background: #fc5356;
  width: 100%;
  border-color: #fc5356;
}
.px-btn.white {
  color: #ffffff;
  border-color: #ffffff;
}
.px-btn.white:hover {
  color: #000;
}
.px-btn.white:hover:before {
  background: #ffffff;
  width: 100%;
  border-color: #ffffff;
}

.px-btn-arrow {
  padding: 0 50px 0 0;
  line-height: 20px;
  position: relative;
  display: inline-block;
  color: #fc5356;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.px-btn-arrow span {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
.px-btn-arrow .arrow {
  width: 13px;
  height: 2px;
  background: currentColor;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 25px;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}
.px-btn-arrow .arrow:after {
  width: 8px;
  height: 8px;
  border-right: 2px solid currentColor;
  border-top: 2px solid currentColor;
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  display: inline-block;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.px-btn-arrow:hover {
  color: #000;
}
.px-btn-arrow:hover .arrow {
  right: 20px;
}

/* Video 
----------------*/
.video-btn {
  position: relative;
  width: 80px;
  height: 80px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  -moz-transition: ease all 0.55s;
  -o-transition: ease all 0.55s;
  -webkit-transition: ease all 0.55s;
  transition: ease all 0.55s;
  z-index: 1;
  border: none;
}
.video-btn:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
  pointer-events: none;
  z-index: -1;
}
.video-btn.white {
  background: #ffffff;
}
.video-btn.white:after {
  background: #ffffff;
}
.video-btn.white span {
  color: #fc5356;
}
.video-btn.theme {
  background: #fc5356;
}
.video-btn.theme:after {
  background: #fc5356;
}
.video-btn.theme span {
  color: #ffffff;
}
.video-btn span {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid currentcolor;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 9px;
  right: 0;
  margin: auto;
  width: 0px;
  height: 0px;
}

@keyframes pulse-border {
  0% {
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
/* Background color
-------------------------------*/
.theme-bg {
  background-color: #fc5356;
}

.dark-bg {
  background-color: #000;
}

.black-bg {
  background-color: #000000;
}

.gray-bg {
  background-color: #f7f7f7;
}

.white-bg {
  background-color: #ffffff;
}

.blue-bg {
  background-color: #49bedf;
}

/* Text color
-------------------------------*/
.white-color {
  color: #ffffff;
}

.white-color-light {
  color: rgba(255, 255, 255, 0.65);
}

.dark-color {
  color: #000;
}
.dark-theme .dark-color {
  color: #ffffff;
}

.body-color {
  color: #6c757d;
}

.theme-color {
  color: #fc5356;
}

.green-color {
  color: #11e279;
}

/*	Toggle Menu
-------------------------*/
.navbar-toggler,
.toggler-menu {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0;
  border-radius: 0;
  padding: 0;
  margin-left: 15px;
  background: #fc5356;
  border: none;
}
.navbar-toggler span,
.toggler-menu span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 2px;
  margin: auto;
  box-shadow: 0px -8px 0 0px currentColor, 0px 8px 0 0px currentColor;
  background: #ffffff;
  color: #ffffff;
}

.mob-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  left: 0;
  padding: 6px 10px;
}
@media (min-width: 1201px) {
  .mob-header {
    padding: 20px 50px;
  }
  .mob-header.mh-desk {
    display: none;
  }
}
@media (max-width: 991px) {
  .mob-header {
    background: #ffffff;
    border-bottom: 1px solid rgba(153, 153, 153, 0.11);
  }
}
.mob-header .toggler-menu {
  margin-left: auto;
}
.mob-header .navbar-brand {
  font-size: 30px;
  padding: 0 15px;
  border: 1px solid rgba(153, 153, 153, 0.11);
}
@media (max-width: 991px) {
  .mob-header .navbar-brand {
    border: none;
    padding: 0;
  }
}
.mob-header .navbar-brand a {
  color: #fc5356;
  font-weight: 700;
}

/* Side Menu
-----------------------------*/
@media (min-width: 992px) {
  .header-nav .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }
}
/* Side Menu
-----------------------------*/
.header-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  overflow: hidden;
  border-radius: 0;
  bottom: 0;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.29);
  z-index: 3;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  left: -350px;
  background: #000;
}
.header-left.menu-open {
  left: 0;
}
@media (min-width: 1201px) {
  .header-left.hl-desk {
    left: 0;
  }
}
.header-left .hl-top {
  text-align: center;
  padding-bottom: 45px;
  padding-top: 45px;
}
.header-left .hl-top .hl-logo {
  text-align: center;
  font-size: 32px;
  line-height: 30px;
  color: #ffffff;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
}
.header-left .hl-top .hl-logo a {
  color: #ffffff;
  text-decoration: none;
}
.header-left .hl-top .hl-logo span {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  letter-spacing: 2px;
}
.header-left .nav li {
  width: 100%;
}
.header-left .nav li a {
  font-size: 15px;
  font-weight: 500;
  padding: 12px 20px 12px 20px;
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}
.header-left .nav li a:after {
  content: "";
  width: 3px;
  background: #fc5356;
  height: 0;
  top: auto;
  bottom: 0;
  right: 0;
  position: absolute;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.header-left .nav li a.active, .header-left .nav li a:hover {
  color: #ffffff;
}
.header-left .nav li a.active:after, .header-left .nav li a:hover:after {
  height: 100%;
  top: 0;
  bottom: auto;
}
.header-left .nav li:last-child a {
  border-bottom: none;
}

/* Header Dark
-----------------------------*/
@media (min-width: 992px) {
  .header-dark {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
  .fixed-header .header-dark {
    background: #ffffff;
  }
  .header-dark .navbar-brand {
    font-weight: 700;
    font-size: 24px;
    color: #000;
  }
  .header-dark .navbar-brand span {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    background: #fc5356;
  }
  .header-dark .navbar-nav .nav-link {
    line-height: 80px;
    padding: 0 10px !important;
    font-size: 17px;
    font-weight: 600;
    margin-left: 10px;
    color: #000;
  }
  .header-dark .navbar-nav .nav-link span {
    position: relative;
  }
  .header-dark .navbar-nav .nav-link span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    width: 0px;
    height: 2px;
    border-radius: 5px;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    background: currentColor;
  }
  .header-dark .navbar-nav .nav-link.active, .header-dark .navbar-nav .nav-link:hover {
    color: #fc5356;
  }
  .header-dark .navbar-nav .nav-link.active span:after, .header-dark .navbar-nav .nav-link:hover span:after {
    left: 0;
    right: auto;
    width: 100%;
  }
}
/* Header white
-----------------------------*/
@media (min-width: 992px) {
  .header-white {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
  .header-white.header-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .fixed-header .header-white {
    background: #ffffff;
  }
  .header-white .navbar-brand {
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
  }
  .header-white .navbar-brand span {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    background: #ffffff;
  }
  .fixed-header .header-white .navbar-brand {
    color: #000;
  }
  .fixed-header .header-white .navbar-brand span {
    background: #fc5356;
  }
  .header-white .navbar-nav .nav-link {
    line-height: 80px;
    padding: 0 10px !important;
    font-size: 17px;
    font-weight: 600;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.7);
  }
  .header-white .navbar-nav .nav-link span {
    position: relative;
  }
  .header-white .navbar-nav .nav-link span:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    width: 0px;
    height: 2px;
    border-radius: 5px;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    background: currentColor;
  }
  .fixed-header .header-white .navbar-nav .nav-link {
    color: #000;
  }
  .header-white .navbar-nav .nav-link.active, .header-white .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  .fixed-header .header-white .navbar-nav .nav-link.active, .fixed-header .header-white .navbar-nav .nav-link:hover {
    color: #fc5356;
  }
  .header-white .navbar-nav .nav-link.active span:after, .header-white .navbar-nav .nav-link:hover span:after {
    left: 0;
    right: auto;
    width: 100%;
  }
}
/* Mobile 
-----------------------------*/
@media (max-width: 991px) {
  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
  .fixed-header .header-nav {
    background: #ffffff;
  }
  .header-nav .navbar-brand {
    font-weight: 600;
    font-size: 24px;
    color: #000;
  }
  .header-nav.header-white .navbar-brand {
    color: #ffffff;
  }
  .fixed-header .header-nav.header-white .navbar-brand {
    color: #000;
  }
  .header-nav .navbar-nav {
    padding: 8px 15px;
    border: 1px solid #ddd;
    background: #ffffff;
  }
  .header-nav .navbar-nav > li + li .nav-link {
    border-top: 1px solid #ddd;
  }
  .header-nav .navbar-nav .nav-link {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.035rem;
    color: #000;
  }
  .header-nav .navbar-nav .nav-link.active, .header-nav .navbar-nav .nav-link:hover {
    color: #fc5356;
  }
}
.footer {
  padding: 12px 0;
  position: relative;
  background: #000;
}
.footer .nav a {
  color: #ffffff;
  font-size: 14px;
  margin-right: 17px;
}
.footer .nav a:hover {
  color: #fc5356;
}
.footer p {
  color: #ffffff;
  font-size: 14px;
  margin: 0;
}

.section-title {
  padding-bottom: 40px;
}
@media (max-width: 991px) {
  .section-title {
    padding-bottom: 25px;
  }
}
.section-title h2 {
  font-weight: 600;
  color: #000;
  font-size: 45px;
  margin: 0 0 15px;
  padding: 0 0 15px;
  position: relative;
}
.section-title h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background: #fc5356;
}
@media (max-width: 767px) {
  .section-title h2 {
    font-size: 35px;
  }
}
.section-title p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}
.section-title.text-center h2:after {
  right: 0;
  margin: auto;
}

/* Page title
--------------------------------*/
.page-title {
  padding: 160px 0 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1200px) {
  .page-title {
    padding-top: 130px;
  }
}
.page-title h1 {
  font-weight: 700;
  margin-bottom: 15px;
}

/* Breadcrumbs
--------------------------------*/
.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  background: none;
  border-radius: 0;
}
.breadcrumb li {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  color: #000;
}
.breadcrumb li + li {
  padding-left: 17px;
  margin-left: 17px;
}
.breadcrumb li + li:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: currentColor;
  opacity: 0.5;
  left: -2px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.breadcrumb li a {
  color: #000;
}
.breadcrumb.white li {
  color: #ffffff;
}
.breadcrumb.white li a {
  color: #ffffff;
}

.skill-lt:not(:first-child) {
  margin-top: 30px;
}
.skill-lt h6 {
  font-size: 15px;
  margin: 0;
  line-height: 28px;
}
.skill-lt .skill-bar {
  position: relative;
  background: #eee;
}
.dark-theme .skill-lt .skill-bar {
  background: #000;
}
.skill-lt .skill-bar .skill-bar-in {
  width: 80px;
  position: relative;
  -moz-transition: ease all 0.55s;
  -o-transition: ease all 0.55s;
  -webkit-transition: ease all 0.55s;
  transition: ease all 0.55s;
  height: 3px;
}
.skill-lt .skill-bar .skill-bar-in span {
  position: absolute;
  right: 0;
  bottom: 15px;
  background: #000;
  padding: 2px 6px;
  color: #ffffff;
  font-size: 10px;
  font-weight: 600;
}
.dark-theme .skill-lt .skill-bar .skill-bar-in span {
  color: #000;
  background: #ffffff;
}
.skill-lt .skill-bar .skill-bar-in span:after {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0;
  border-left: 7px solid transparent;
  border-top: 8px solid #000;
}
.dark-theme .skill-lt .skill-bar .skill-bar-in span:after {
  border-top: 8px solid #ffffff;
}
.skill-lt.md .skill-bar .skill-bar-in {
  height: 8px;
}
.skill-lt.lg .skill-bar .skill-bar-in {
  height: 10px;
}
.skill-lt.light .skill-bar {
  background: rgba(0, 0, 0, 0.5);
}

.blog-listing {
  padding-top: 30px;
  padding-bottom: 30px;
}
.blog-listing .pagination {
  margin-top: 30px;
}
.blog-listing .blog-grid {
  box-shadow: none;
  border: 1px solid #f7f7f7;
}

.pagination .page-item .page-link {
  border: none;
  box-shadow: none;
  color: #000;
  margin: 0 5px;
  border-radius: 50px;
  padding: 0;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background: #ddd;
}
.pagination .page-item .page-link:hover {
  background: #fc5356;
  border-color: #fc5356;
  color: #ffffff;
}
.pagination .page-item.disabled .page-link {
  opacity: 0.5;
}
.pagination .page-item.active .page-link {
  background: #fc5356;
  border-color: #fc5356;
  color: #ffffff;
}

/* Blog Sidebar
-------------------*/
@media (min-width: 1201px) {
  .blog-aside {
    padding-left: 50px;
  }
}
.blog-aside .widget {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.blog-aside .widget-title {
  border-bottom: 1px solid #eee;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 25px;
}
.blog-aside .widget-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  background: #fc5356;
}
.blog-aside .widget-title h3 {
  font-size: 20px;
  font-weight: 700;
  color: #fc5356;
  margin: 0;
}
.blog-aside .widget-author .media {
  margin-bottom: 15px;
}
.blog-aside .widget-author p {
  font-size: 16px;
  margin: 0;
}
.blog-aside .widget-author .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.blog-aside .widget-author h6 {
  font-weight: 600;
  color: #000;
  font-size: 22px;
  margin: 0;
  padding-left: 20px;
}
.blog-aside .post-aside {
  margin-bottom: 15px;
}
.blog-aside .post-aside .post-aside-title h5 {
  margin: 0;
}
.blog-aside .post-aside .post-aside-title a {
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.blog-aside .post-aside .post-aside-meta {
  padding-bottom: 10px;
}
.blog-aside .post-aside .post-aside-meta a {
  color: #6c757d;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}
.blog-aside .latest-post-aside + .latest-post-aside {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px;
}
.blog-aside .latest-post-aside .lpa-right {
  width: 90px;
}
.blog-aside .latest-post-aside .lpa-left {
  padding-right: 15px;
}
.blog-aside .latest-post-aside .lpa-title h5 {
  margin: 0;
  font-size: 15px;
}
.blog-aside .latest-post-aside .lpa-title a {
  color: #000;
  font-weight: 600;
}
.blog-aside .latest-post-aside .lpa-meta a {
  color: #6c757d;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}

.tag-cloud a {
  padding: 4px 15px;
  font-size: 13px;
  color: #000;
  background: #f7f7f7;
  border-radius: 3px;
  margin-right: 4px;
  margin-bottom: 4px;
  font-weight: 600;
}
.tag-cloud a:hover {
  background: #fc5356;
  color: #ffffff;
}

.blog-single {
  padding-top: 30px;
  padding-bottom: 30px;
}

.article {
  margin: 15px 0 30px;
}
.article .article-title {
  padding: 15px 0 20px;
}
.article .article-title h6 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}
.article .article-title h6 a {
  text-transform: uppercase;
  color: #fc5356;
  border-bottom: 1px solid #fc5356;
}
.article .article-title h2 {
  color: #000;
  font-weight: 600;
}
.article .article-title .media {
  padding-top: 15px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 20px;
}
.article .article-title .media .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.article .article-title .media .media-body {
  padding-left: 8px;
}
.article .article-title .media .media-body label {
  font-weight: 600;
  color: #fc5356;
  margin: 0;
}
.article .article-title .media .media-body span {
  display: block;
  font-size: 12px;
}
.article .article-content h1,
.article .article-content h2,
.article .article-content h3,
.article .article-content h4,
.article .article-content h5,
.article .article-content h6 {
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}
.article .article-content blockquote {
  max-width: 600px;
  padding: 15px 0 30px 0;
  margin: 0;
}
.article .article-content blockquote p {
  font-size: 20px;
  font-weight: 500;
  color: #fc5356;
  margin: 0;
}
.article .article-content blockquote .blockquote-footer {
  color: #000;
  font-size: 16px;
}
.article .article-content blockquote .blockquote-footer cite {
  font-weight: 600;
}
.article .tag-cloud {
  padding-top: 10px;
}

.article-comment {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  padding: 20px;
}
.article-comment h4 {
  color: #000;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 22px;
}

/*---------------------------
 Portfolio Start
------------------------------*/
.portfolio-content.grid-col-2 .grid-item {
  width: 50%;
}
@media (max-width: 767px) {
  .portfolio-content.grid-col-2 .grid-item {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .portfolio-content.grid-col-3 .grid-item {
    width: 33.3333%;
  }
}
@media (max-width: 991px) {
  .portfolio-content.grid-col-3 .grid-item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .portfolio-content.grid-col-3 .grid-item {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .portfolio-content.grid-col-4 .grid-item {
    width: 33.3333%;
  }
}
@media (min-width: 1201px) {
  .portfolio-content.grid-col-4 .grid-item {
    width: 25%;
  }
}
@media (max-width: 991px) {
  .portfolio-content.grid-col-4 .grid-item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .portfolio-content.grid-col-4 .grid-item {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .portfolio-content.grid-col-5 .grid-item {
    width: 33.3333%;
  }
}
@media (min-width: 1201px) {
  .portfolio-content.grid-col-5 .grid-item {
    width: 20%;
  }
}
@media (max-width: 991px) {
  .portfolio-content.grid-col-5 .grid-item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .portfolio-content.grid-col-5 .grid-item {
    width: 100%;
  }
}
.portfolio-content.grid-gutter-md {
  margin-left: -4px;
  margin-right: -4px;
}
.portfolio-content.grid-gutter-md .grid-item {
  padding: 8px;
}
.portfolio-content.grid-gutter-lg {
  margin-left: -6px;
  margin-right: -6px;
}
.portfolio-content.grid-gutter-lg .grid-item {
  padding: 12px;
}
.portfolio-content .grid-item {
  float: left;
}

/*Portfolio Filter*/
.portfolio-filter-01 .filter li {
  cursor: pointer;
  margin: 0 15px;
  color: #000;
  position: relative;
  padding: 5px 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  line-height: normal;
}
.portfolio-filter-01 .filter li:after {
  content: "";
  width: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 2px;
  background: #fc5356;
  position: absolute;
  -moz-transition: ease all 0.55s;
  -o-transition: ease all 0.55s;
  -webkit-transition: ease all 0.55s;
  transition: ease all 0.55s;
}
.portfolio-filter-01 .filter li:last-child {
  margin-right: 0;
}
.portfolio-filter-01 .filter li:first-child {
  margin-left: 0;
}
.portfolio-filter-01 .filter li:hover {
  color: #fc5356;
}
.portfolio-filter-01 .filter li.active {
  color: #fc5356;
}
.portfolio-filter-01 .filter li.active:after {
  width: 100%;
}

/*Portfolio Style 2*/
.portfolio-box-01 {
  background: #ffffff;
  position: relative;
}
.portfolio-box-01 .portfolio-img {
  position: relative;
}
.portfolio-box-01 .portfolio-img .portfolio-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  opacity: 0;
}
.portfolio-box-01 .portfolio-info {
  margin-bottom: 15px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1;
}
.portfolio-box-01 .portfolio-info h5 {
  margin: 0;
}
.portfolio-box-01 .portfolio-info h5 a {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
}
.portfolio-box-01 .portfolio-info span {
  color: rgba(255, 255, 255, 0.6);
}
.portfolio-box-01:hover .portfolio-img .portfolio-icon {
  opacity: 1;
}

@media (min-width: 1201px) {
  .main-left {
    padding-left: 200px;
  }
}

.m-15px-tb {
  margin-bottom: 15px;
  margin-top: 15px;
}

/* Section
---------------------*/
.section {
  padding: 100px 0;
  position: relative;
}
@media (max-width: 991px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* Home Banner
---------------------*/
.home-banner-01 {
  background-size: cover;
  background-position: center;
  position: relative;
}
.home-banner-01 .min-vh-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.home-banner-01 .ht-text {
  color: #ffffff;
}
.home-banner-01 .ht-text h6 {
  font-weight: 800;
  font-size: 50px;
  margin: 0;
}
@media (max-width: 991px) {
  .home-banner-01 .ht-text h6 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .home-banner-01 .ht-text h6 {
    font-size: 20px;
  }
}
.home-banner-01 .ht-text h1 {
  font-weight: 800;
  font-size: 80px;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .home-banner-01 .ht-text h1 {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .home-banner-01 .ht-text h1 {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .home-banner-01 .ht-text h2 {
    font-size: 22px;
    line-height: 1.5;
  }
}
@media (max-width: 767px) {
  .home-banner-01 .ht-text h2 {
    font-size: 18px;
  }
}
.home-banner-01 .ht-text .btn-bar {
  padding-top: 30px;
}
@media (max-width: 991px) {
  .home-banner-01 .ht-text .btn-bar {
    padding-top: 20px;
  }
}
@media (max-width: 767px) {
  .home-banner-01 .ht-text .btn-bar {
    padding-top: 15px;
  }
}

/* Home Banner
---------------------*/
.home-banner-02 {
  background-size: cover;
  background-position: 59% center;
  position: relative;
}
.home-banner-02 .min-vh-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .home-banner-02 {
    background-position: 65% center;
  }
}
.home-banner-02 .ht-img {
  width: 200px;
  height: 200px;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
.home-banner-02 .ht-text {
  color: #ffffff;
}
.home-banner-02 .ht-text h1 {
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .home-banner-02 .ht-text h1 {
    font-size: 40px;
  }
}
.home-banner-02 .ht-text h2 {
  font-size: 22px;
}
.home-banner-02 .ht-text h2 span {
  color: #fc5356;
}
@media (max-width: 767px) {
  .home-banner-02 .ht-text h2 {
    font-size: 18px;
  }
}

.particles-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}

.go-to-next {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 35px;
  margin: auto;
  z-index: 1;
  text-align: center;
}
.go-to-next a {
  width: 35px;
  height: 35px;
  position: relative;
  display: inline-block;
  background: #fc5356;
  border-radius: 50%;
  animation: down 1s linear infinite;
  -webkit-animation: down 1s linear infinite;
}
.go-to-next a span {
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

@-webkit-keyframes down {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 15px;
    opacity: 1;
  }
  60% {
    top: 15px;
    opacity: 0.60;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes down {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 15px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
/* About Me 
---------------------*/
@media (min-width: 992px) {
  .about-text {
    padding-left: 40px;
  }
}
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}
.about-text p {
  font-size: 18px;
  max-width: 450px;
}
.about-text p mark {
  font-weight: 600;
  color: #000;
}

.about-list {
  padding-top: 10px;
  padding-bottom: 30px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #000;
  font-weight: 600;
  width: 115px;
  margin: 0;
  position: relative;
}
.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #000;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.about-list p {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

/* Feature Box
---------------------*/
.feature-box-1 {
  padding: 50px 30px;
  margin: 15px 0 35px;
  position: relative;
  top: 0;
  z-index: 1;
  overflow: hidden;
  background: #ffffff;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0;
    /*&:after {
	    content: "";
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    width: 100%;
	    height: 3px;
	    background: $px-dark;
    }
    &:before {
	    content: "";
	    position: absolute;
	    top: 0;
	    left: auto;
	    right: 0;
	    width: 0;
	    height: 5px;
	    background: $px-theme;
    }*/
}
.feature-box-1 * {
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1 .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #fc5356;
  color: #ffffff;
  text-align: center;
  margin-bottom: 35px;
  font-size: 39px;
  box-shadow: -11px -11px rgba(252, 83, 86, 0.11);
}
.feature-box-1 .icon i {
  line-height: 70px;
}
.feature-box-1 h5 {
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}
.feature-box-1 p {
  margin: 0;
  font-size: 18px;
}
.feature-box-1:hover {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.08);
  top: -5px;
}
.feature-box-1:hover .icon {
  box-shadow: -6px -6px rgba(252, 83, 86, 0.11);
}

/* Resume Box
---------------------*/
.tab-style-1 .nav li .nav-link {
  border-radius: 30px;
  background: #f7f7f7;
  margin: 5px;
  padding: 5px 10px;
  min-width: 110px;
  text-align: center;
  color: #000;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
@media (max-width: 767px) {
  .tab-style-1 .nav li .nav-link {
    min-width: 90px;
  }
}
.tab-style-1 .nav li .nav-link.active {
  background: #fc5356;
  color: #ffffff;
}
.tab-style-1 .tab-content {
  padding-top: 20px;
}

.resume-box {
  background: #ffffff;
  border: 1px solid #f7f7f7;
  box-shadow: 4px 4px #f7f7f7;
  padding: 35px;
}
.resume-box h4 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}
.resume-box span {
  background: #fc5356;
  padding: 0 8px;
  border-radius: 30px;
  color: #ffffff;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
}
.resume-box p {
  margin: 10px 0 0;
  font-size: 17px;
}

.resume-box-01 {
  background: #ffffff;
  border: 1px solid #f7f7f7;
  box-shadow: 4px 4px #f7f7f7;
  padding: 0 35px 35px;
}
.resume-box-01 h4 {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 25px;
}
.resume-box-01 h4 label {
  background: #f7f7f7;
  display: inline-block;
  padding: 7px 18px;
  border-radius: 0 0 10px 10px;
  margin: 0;
}
.resume-box-01 h5 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}
.resume-box-01 span {
  background: #fc5356;
  padding: 0 8px;
  border-radius: 30px;
  color: #ffffff;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
}
.resume-box-01 p {
  margin: 10px 0 0;
  font-size: 17px;
}

/* Testimonials
---------------------*/
.testimonial-col-01 {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.08);
  padding: 35px;
  margin: 2px 0 15px;
}
.testimonial-col-01 .img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
.testimonial-col-01 .tc-info h6 {
  font-weight: 500;
  color: #000;
  margin-bottom: 5px;
  font-size: 20px;
}

/* Blog 
---------------------*/
.blog-grid {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
}
.blog-grid .blog-img {
  position: relative;
}
.blog-grid .blog-img .date {
  position: absolute;
  background: #fc5356;
  color: #ffffff;
  padding: 8px 15px;
  left: 10px;
  top: 10px;
  border-radius: 4px;
}
.blog-grid .blog-img .date span {
  font-size: 22px;
  display: block;
  line-height: 22px;
  font-weight: 700;
}
.blog-grid .blog-img .date label {
  font-size: 14px;
  margin: 0;
}
.blog-grid .blog-info {
  padding: 20px;
}
.blog-grid .blog-info h5 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 10px;
}
.blog-grid .blog-info h5 a {
  color: #000;
}
.blog-grid .blog-info p {
  margin: 0;
}
.blog-grid .blog-info .btn-bar {
  margin-top: 20px;
}

/* Contact Us
---------------------*/
.contact-name {
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #f7f7f7;
  box-shadow: 4px 4px #f7f7f7;
  padding: 35px;
}
.contact-name:last-child {
  margin-bottom: 0;
}
.contact-name .icon {
  font-size: 28px;
  margin: 0 0 10px;
  color: #fc5356;
  height: 45px;
  line-height: 45px;
}
.contact-name h5 {
  font-size: 20px;
  color: #000;
  margin-bottom: 5px;
  font-weight: 600;
}
.contact-name p {
  font-size: 16px;
  margin: 0;
}

.social-share a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  margin-right: 10px;
}
.social-share .dribbble {
  box-shadow: 0 8px 30px -4px rgba(234, 76, 137, 0.5);
  background-color: #ea4c89;
}
.social-share .behance {
  box-shadow: 0 8px 30px -4px rgba(0, 103, 255, 0.5);
  background-color: #0067ff;
}
.social-share .linkedin {
  box-shadow: 0 8px 30px -4px rgba(1, 119, 172, 0.5);
  background-color: #0177ac;
}

.contact-form {
  background: #ffffff;
  border: 1px solid #f7f7f7;
  box-shadow: 4px 4px #f7f7f7;
  padding: 25px;
}
.contact-form p {
  font-size: 20px;
  text-align: center;
}
.contact-form .form-control {
  background: transparent;
  box-shadow: none !important;
  height: calc(1.7em + .75rem + 2px);
  border-width: 1px;
  font-size: 15px;
}
.contact-form .form-control:focus {
  border-color: #fc5356;
}
.contact-form .form-control.invalid {
  border-color: #ff0000 !important;
}
.contact-form textarea.form-control {
  height: calc(5.7em + .75rem + 2px);
}
.contact-form .send {
  margin-top: 6px;
}

/*# sourceMappingURL=master.css.map */
